@model EmailViewModel
@{
    ViewData["Title"] = "Send Email";
}

<!-- Creating a form without using a model -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>

    <div class="p-5">
         <div class="mx-auto rounded border p-4" style="width: 400px">
          <h2 class="text-center mb-3">Forgot Password</h2>
           <hr />

           @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@ViewBag.SuccessMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            }
            
            
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" asp-for="Email" type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <div class="row mb-3">
                    <div class="col d-grid">
                        <div class="row mb-3">
                            <div class="col d-grid">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <div class="col d-grid">
                                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

    </div>

        

    </div>

</body>
</html>